In [21]:
import pandas as pd

In [36]:
link_treino = 'dados_csv/train.csv'
link_teste = 'dados_csv/sample_submission.csv'

df_train = pd.read_csv(link_treino)
df_test = pd.read_csv(link_teste)

In [48]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3662 entries, 0 to 3661
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_code    3662 non-null   object
 1   diagnosis  3662 non-null   int64
dtypes: int64(1), object(1)
memory usage: 57.3+ KB

In [39]:
df_test

           id_code  diagnosis
0     0005cfc8afb6          0
1     003f0afdcd15          0
2     006efc72b638          0
3     00836aaacf06          0
4     009245722fa4          0
...            ...        ...
1923  ff2fd94448de          0
1924  ff4c945d9b17          0
1925  ff64897ac0d8          0
1926  ffa73465b705          0
1927  ffdc2152d455          0

[1928 rows x 2 columns]

In [50]:
link = 'dados_csv/dados_concatenados.csv'

In [51]:
df = pd.read_csv(link)

In [31]:
df

           id_code  diagnosis
0     000c1434d8d7        2.0
1     001639a390f0        4.0
2     0024cdab0c1e        1.0
3     002c21358ce6        0.0
4     005b95c28852        0.0
...            ...        ...
5585  ff2fd94448de        NaN
5586  ff4c945d9b17        NaN
5587  ff64897ac0d8        NaN
5588  ffa73465b705        NaN
5589  ffdc2152d455        NaN

[5590 rows x 2 columns]

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5590 entries, 0 to 5589
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_code    5590 non-null   object
 1   diagnosis  5590 non-null   int64
dtypes: int64(1), object(1)
memory usage: 87.5+ KB

In [ ]:
df_final = pd.concat([df_train, df_test], ignore_index=True)

# Salvar em CSV
df_final.to_csv('dados_csv/dados_concatenados.csv', index=False)